<div class="topList">
    <ul class="list">
        <li class="topListHeading">☆TOP LIST☆</li>
        <ng-container *ngFor="let video of trendingVideos; let i = index">
            <li *ngIf="i < 20">
                <span class="numberSpan">
                    {{ i + 1 }}#
                </span>

                {{ video.snippet.title }}
                <br><br>
            </li>
        </ng-container>
        <li class="topListHeading">☆TOP LIST☆</li>
        <ng-container *ngFor="let video of trendingVideos; let i = index">
            <li *ngIf="i < 20">
                <span class="numberSpan">
                    {{ i + 1 }}#
                </span>

                {{ video.snippet.title }}
                <br><br>
            </li>
        </ng-container>
        <li class="topListHeading">☆TOP LIST☆</li>
        <ng-container *ngFor="let video of trendingVideos; let i = index">
            <li *ngIf="i < 20">
                <span class="numberSpan">
                    {{ i + 1 }}#
                </span>

                {{ video.snippet.title }}
                <br><br>
            </li>
        </ng-container>
        <li class="topListHeading">☆TOP LIST☆</li>
        <ng-container *ngFor="let video of trendingVideos; let i = index">
            <li *ngIf="i < 20">
                <span class="numberSpan">
                    {{ i + 1 }}#
                </span>

                {{ video.snippet.title }}
                <br><br>
            </li>
        </ng-container>
    </ul>
</div>
