.arrowImg {
    opacity: 0.9;
    margin-bottom: 15%;
    height: 40%;
}

.arrow2Img {
    opacity: 0.9;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 0;
    height: 20%;
}

.brandDiv {
    opacity: 0.8;
    border: none;
    height: 90vh;
    
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.463);
}

.buttonBack {
    border: 3px solid white;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #211836;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.buttonBack:hover {
    border: 1px solid #00ffe0;
    color: #00ffe0;
    letter-spacing: 0.15em;
    box-shadow: 0 0 20px #00ffe0;
}

.containerDiv
{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    column-gap: 4vw;
    padding: 2%;
    height: 100%;
    width: 96%;
}

.dots {
    position: absolute;
    height:25px;
    width: 25px;
    background: rgba(255, 255, 255, 0.654);
    border-radius: 50%;
    transform: rotate(calc(var(--i)*(360deg/15))) translateY(90px);
    animation: animate 1.5s linear infinite;
    animation-delay: calc(var(--i)*0.05s);
}

@keyframes animate {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        ;
    }
}

.errorDiv {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2vh;
}

.homeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #211836;
    padding: 1vh;
    height: 10vh;
}

.imgDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #34205e;
    height: 40vh;
}

.inputForm {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.8);
    width: 70%;
    height: 6vh;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
}

input {
    background-color: rgba(0, 255, 225, 0);
    flex: 1;
    border: none;
    outline: none;
    padding: 0;
    padding-bottom: 0;
    padding-left: 3%;
    padding-top: 12%;
    width: 100%;
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2vh;
}

.loadingDiv {
    opacity: 1;
}

.logoImg {
    width: 50%;
    margin-bottom: 2%;
}

.questionDiv {
    background-color: #34205e;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questionImg {
    width: 75%;
}

.searchButton {
    margin-top: 10%;
    border: 3px solid white;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #211836;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.playlistButton{
    background-color: #211836;
    margin: 5%;
    margin-bottom: 10%;
        border: 3px solid #00ffe0;
        cursor: pointer;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        
        color: #00ffe0;
        text-decoration: none;
        font-size: 1.3em;
        letter-spacing: 0.05em;
        font-weight: 400;
        padding: 5px 15px;
        transition: 0.5s;
}
.playlistButton.active{
    border: 1px solid #00ffe0;
        color: #00ffe0;
        background-color: #211836;
        letter-spacing: 0.1em;
        box-shadow: 0 0 20px #00ffe0;
}
 .playlistButton:hover {
     border: 1px solid #00ffe0;
     color: #00ffe0;
     background-color: #211836;
     letter-spacing: 0.1em;
     box-shadow: 0 0 20px #00ffe0;
 }

.searchButton:hover {
    border: 1px solid #00ffe0;
    color: #00ffe0;
    letter-spacing: 0.2em;
    box-shadow: 0 0 20px #00ffe0;
}

.searchDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    opacity: 0.8;
    background-color: #211836;
    height: 90vh;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.463);
}
.song{
    font-family: 'Poppins', sans-serif;
    /* font-weight: bold; */
    text-transform: uppercase;
    margin:10px;
    padding: 5%;
    border-bottom: 1px solid #211836;
    
}
.table{
    display: flex;
    flex-direction: column-reverse;
}

.song:hover{
    border:1px solid #00ffe0;
    box-shadow: 0 0 20px #00ffe0;
    cursor: pointer;
    font-weight: bold;
}
.dropdown-content {
    background-color: aliceblue;
    position: absolute;
    top: 35%;
    left: 82%;
    display: none;
    z-index: 2;
    width:16.5%;
    padding-right: 3px;
    max-height: 55vh;
        /* Postavite maksimalnu visinu prema vašim potrebama */
        overflow-y: auto;
    /* Početno sakrivanje dropdown-a */
    /* Dodajte ostale stilove za izgled dropdown-a */
}

.dropdown-content.active {
    display: block;
    /* Prikazivanje dropdown-a kada je aktivan */
}

.searchImg {
    height: 4vh;
}

.songNameImg {
    width: 70%;
}

.videoDiv {
    position: relative;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.8);
    height: 83vh;
    background-image: url('../../../../assets/music.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.welcomeImg {
    width: 90%;
}

.wraperDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ytDiv{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
}