<div class="containerDiv">
    <div class="brandDiv">
        <div class="imgDiv">
            <img class="logoImg" src="../../../../assets/mojLogo.png" alt="nesto">

            <img class="welcomeImg" src="../../../../assets/welcome.png" alt="nesto">
        </div>

        <div class="homeDiv">
            <button class="buttonBack" (click)="goToHome()">
                HOME
            </button>
        </div>

        <div class="questionDiv">
            <img class="arrowImg" src="../../../../assets/arrow.png" alt="nesto">

            <img class="questionImg" src="../../../../assets/question.png" alt="nesto">
        </div>
    </div>

    <div class="wraperDiv">
        <div class="videoDiv">
            <div *ngIf="loading" class="loadingDiv">
                <div *ngFor="let i of dotsArray; let index = index" class="dots" [style.--i]="index + 1">
                </div>
            </div>  
        </div>

        <div class="ytDiv">
            <div *ngIf="error" class="errorDiv">
                No results found. 
            </div>
            <app-search *ngIf="videoId" [videoId]="videoId" (videoNameSelected)="handleVideoNameSelected($event)">
            </app-search>
        </div>
    </div>

    <div class="searchDiv">
        <button class="playlistButton" [ngClass]="{ 'active': isOpen }" (click)="toggleDropdown()">
            CHECK OUT <span style="color: white;">OUR</span> <span style="font-weight: bold;"> PLAYLIST</span>
        </button>
        <div class="dropdown-content" [ngClass]="{ 'active': isOpen }" >
            <table class="table" *ngIf="isOpen">
                <tr *ngFor="let name of videoNames">
                    <td class="song" (click)="search(name)">{{ name }}</td>
                </tr>
            </table>
        </div>
        <img class="songNameImg" src="../../../../assets/songName.png" alt="nesto">

        <img class="arrow2Img" src="../../../../assets/arrow2.png" alt="nesto">
        <form class="inputForm">
            <img class="searchImg" src="../../../../assets/search.png" alt="">
            <input type="text" [(ngModel)]="searchQuery" name="unos" (keyup.enter)="performSearch()"
                placeholder="karaoke song . . ." style="font-size: 2.5vh;">
        </form>
        <button class="searchButton" type="submit" (click)="performSearch()">
            SEARCH
        </button>
    </div>
</div>